.nav{
    display: flex;
    justify-content: space-between;
}

.nav li{
    margin: 25px;
}

body{
    background-color: grey;
    background: linear-gradient(180deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,1) 90%);
}

#home{
    text-align: center;
    height: 200px;
    padding-top:  10%;
    
    
}

#home h1{
margin: 30px;
}

#home h3{
    margin-bottom: 50px;
    }

input{
    width: 10%;
}
.settings{
    margin-left: 40%;
    padding-top: 8%
}

.head{
    background-color:black;
}

.headie {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0.3)), url(../img/vignette-vignette-N-26042-48281-1-rotated.jpg);
    display: flex;
    height: 100px;
    background-size: cover;
    background-position:center ;
    color: white;
    }

footer {
    background-color: black;
    display: flex;
    margin-top: 30%;
    padding-bottom: 5px;
}

#egg:hover {
    color: orange;
    background-color: rgb(247, 247, 247);
    transition: all 0.3s ease;
}

label{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

a{
    color: white;
}

#buton{
    border: none;
}